<div class ="container" >
 <p></p>

    <div class ="jumbutron" >
   <p> Welcome to Admins Corner. Please select the task</p>
    </div>
<a href="/addstudent"><button popover-placement="Add New Student" popover="On the Top!" type="button" class="btn btn-outline-primary">Add New Student</button></a>
    <p></p>
<a href="/addclass"><button popover-placement="Add new class" popover="On the Top!" type="button" class="btn btn-outline-primary">Add new class</button></a>
  <p></p>
<a href="/listclass"><button popover-placement="Display Class" popover="On the Top!" type="button" class="btn btn-outline-primary">Display Class</button></a>
    <p></p>
<a href="/liststudents"><button popover-placement="Add new class" popover="On the Top!" type="button" class="btn btn-outline-primary">List all students</button></a>


</div>
