 <div class="container">
    <div class="row ">
        <div class="col-xs-12 col-sm-8">
            <h1>Dear {{username}} Welcome to your class Gallery!.</h1>
        </div>
        <div class="col-xs-12 col-sm-8"></div>
        <div class="col-xs-12 col-sm-8"></div>
        <div class="col-xs-12 col-sm-8"></div>
    </div>
     <div class="row">
         <div class="col-md-4">
              <div class="thumbnail">
                  
              <img id="imgSrc1" src={{Classroom.imgSrc1}}  class="img-responsive" alt={{Classroom.imgTxt1}}/>
                  <div class="caption">
              <input type="text" ng-model="Classroom.imgTxt1" id="imgTxt1"/>
                      <button ng-click="editPhoto(Classroom.imgSrc1)" >Choose Photo</button>
                  </div>
             </div>
         </div>
          <div class="col-md-4">
              <div class="thumbnail">
              <img id="imgSrc2" src={{Classroom.imgSrc2}}  class="img-responsive" alt={{Classroom.imgTxt2}}/>
                  <div class="caption">
              <input type="text" ng-model="Classroom.imgTxt2" id="imgTxt2"/>
                  </div>
              </div>
         </div>
          <div class="col-md-4">
              <div class="thumbnail">
              <img id="imgSrc3" src={{Classroom.imgSrc3}}  class="img-responsive" alt={{Classroom.imgTxt3}}/>
                  <div class="caption">
             <input type="text" ng-model="Classroom.imgTxt3" id="imgTxt3"/>
                  </div>
              </div>
         </div>
     </div>
     <div class="row">
         <div class="col-md-4">
              <div class="thumbnail">
              <img id="imgSrc4" src={{Classroom.imgSrc4}}  class="img-responsive" alt={{Classroom.imgTxt4}}/>
                <div class="caption">
             <input type="text" ng-model="Classroom.imgTxt4" id="imgTxt4"/>
                  </div>
             </div>
         </div>
      
             <div class="col-md-4">
              <div class="thumbnail">
              <img id="imgSrc5" src={{Classroom.imgSrc5}  class="img-responsive" alt={{Classroom.imgTxt5}/>
                  <div class="caption">
             <input type="text" ng-model="Classroom.imgTxt5" id="imgTxt5"/>
                  </div>
                 </div>
         </div>
       <div class="col-md-4">
              <div class="thumbnail">
              <img id="imgSrc6" src={{Classroom.imgSrc6}}  class="img-responsive" alt={{Classroom.imgTxt6}}/>
                   <div class="caption">
             <input type="text" ng-model="Classroom.imgTxt5" id="imgTxt5"/>
                  </div>
           </div>
         </div>
</div>
     

    
     
     
         
</div>
            